.nav {
  display: flex;
  line-height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  justify-content: space-between;
  position: fixed;
}
.nav > span{
  font-family: 'Bungee', cursive;
}
