.nav {
  display: flex;
  line-height: 120px;
  width: 100%;
  background-color: cornflowerblue;
  color: #FFFFFF;
  padding: 1.5rem;
  justify-content: space-between;
  
}
.logo{
  font-family: 'Bungee', cursive;
}
.nav > p a{
  color: #FFFFFF;
}